@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models;
@model UniversityRegistrar.Models.Course;

<h1>@Model.Name</h1>
<h2>@Model.CourseNumber</h2>

<h3>Students enrolled:</h3>
<ul>
  @foreach(CourseStudent join in Model.JoinEntities)
  {
    <li>@Html.ActionLink(join.Student.Name, "Details", "Students", new { id = join.Student.StudentId})</li>
  }
</ul>
